p {
    font-size: 20px;
}

p::first-letter {
    font-size: 300%;
    color    : red;
}

.container {
    width          : auto;
    height         : 100%;
    display        : flex;
    justify-content: center;
}


div {
    position       : relative;
    margin-top     : 20px;
    width          : 500px;
    height         : 500px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    z-index        : 1;
}

#first::before {
    content            : '';
    background-image   : url("../images/1st.jpg");
    position           : absolute;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-size    : cover cover;
    background-position: center center;
    top                : 0;
    left               : 0;
    bottom             : 0;
    right              : 0;
    z-index            : -1;
    opacity            : 0.3;
}

#second::before {
    content            : '';
    background-image   : url("../images/2nd.jpg");
    position           : absolute;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-size    : cover cover;
    background-position: center center;
    top                : 0;
    left               : 0;
    bottom             : 0;
    right              : 0;
    z-index            : -1;
    opacity            : 0.3;
}

#third::before {
    content            : '';
    background-image   : url("../images/3rd.jpg");
    position           : absolute;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-size    : cover cover;
    background-position: center center;
    top                : 0;
    left               : 0;
    bottom             : 0;
    right              : 0;
    z-index            : -1;
    opacity            : 0.3;

}

#first,
#second,
#third {
    border: 1px solid black;
}